.compose-container {
    position: absolute;
    right: 1em;
    bottom: 1em;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.compose-header-container {
    background-color: rgb(242, 246, 252);
    padding: 1em;
}

.compose-header-container h2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: #041e49;
    opacity: 0.9;
}

.compose-header-actions>* {
    margin-right: 0.5em;
    font-size: 14px;
    font-weight: 600;
}

.compose-header-actions .line {
    font-weight: 900;
}

.compose-body>* {
    padding: 1em;
    border: 0;
    margin-inline: 1em;
    border-bottom: 1px rgb(235, 235, 235) solid;
}

.compose-body input:focus {
    border: 0;
}

.compose-body textarea {
    height: 19em;
}

.send-btn {
    border: none;
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    font-weight: 600;

}

.send-btn:hover {
    background-color: #0056b3;
}