.mail {
    display: grid;
    /* grid-template-columns: 1fr 7fr 8fr 14fr 5em 3em; */
    grid-template-columns: 1fr 20fr 6em;
    cursor: pointer;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-inline-start: 0.5em;
    height: var(--mail-preview-height);
}

.mail-preview {
    grid-column: 2;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 7fr 8fr 14fr 5em;
}

.mail:hover {
    box-shadow: 0px 2px 20px 0px lightgray;
}

.mail-options-1 {
    grid-column: 1;
    margin-inline-end: 1em;
}

.mail-options-1 input[type="checkbox"] {
    margin-inline-end: 1em;
    border-radius: 0;
}

.mail-options-1 input[type="checkbox"]:checked {
    background-color: transparent;
}

.mail.read .mail-preview :is(h3, .mail-subject, h4) {
    font-weight: 200;
}

.mail p.mail-subject {
    grid-column: 3;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.mail p.mail-body {
    grid-column: 4;
    font-size: 14px;
}

.mail-tools .sent-at {
    font-size: 14px;
}

.mail h4 {
    grid-column: 5;
}

.mail .delete-btn {
    grid-column: 3;
    justify-self: center;
}

.email-sender {
    grid-column: 2;
    font-size: 14px;
    line-height: 20px;
}

.mail .star {
    justify-content: center;
}


.mail .subject {
    font-weight: 600;
}

.mail footer {
    grid-column: 3;
}

.starred {
    color: gold;
}

.mail-tools>* {
    padding: 0.5em;
    border-radius: 50%;
}

.mail-tools>*:hover {
    background-color: rgb(239, 239, 239);
}