.email-header {
    margin: 1em 4em 1em 1em;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 5fr 2em;
    height: var(--header-height);
}

.email-logo {
    width: 2em;
    height: auto;

}

.email-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1;
}