.email-header {
    margin: 1em 4em 1em 1em;
    grid-column: span 3;
    display: grid;
    justify-items: start;
    grid-template-columns: 11em 5fr 2em;
    height: var(--header-height);
}



.email-header .mail-filter {
    grid-column: 2;
    justify-content: center;
    width: max-content;
}

.email-logo {
    width: 2em;
    height: auto;

}

.email-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column: 1;
}