.mail-list-actions {
    position: relative;
    border-radius: 1em 1em 0 0;
    padding: 0 1.3em;
    height: 5vh;
}

.mail-list-checkbox-container {
    display: flex;
    align-items: center;
    margin: 0;
}

.mail-list-checkbox-container>*,
.mark-all-read {
    cursor: pointer;
    padding: 0.8em 0.5em;
    border-radius: 10px;
}

:is(.mail-list-checkbox-container>*, .mark-all-read):hover {
    background-color: lightgray;
}

.mail-list-checkbox-container .arrow-down {
    font-size: 10px;
}

.mail-list-actions .mark-all-read {
    margin-inline-start: 1em;
}

.sort-options-container {
    cursor: pointer;
    position: absolute;
    top: 40px;
    border-radius: 8px;
    background-color: white;
    padding: 0.8em;
}

.sort-options-container > * {
    font-weight: 200;
    font-size: 14px;
    padding: 0.2em;
}

.sort-options-container > *:hover {
    background-color: lightgray;
}