.mail-filter {
    display: flex;
    align-items: center;
    position: relative;
    grid-column: 2;
    width: 100%;
}

.mail-filter input[type="text"] {
    width: 50em;
    /* width: 100%; */
    border: 0;
    border-radius: 2em;
    background-color: var(--input-blue);
    padding: 1.5em 1.5em 1.5em 4em;
}

.mail-filter img {
    position: absolute;
    filter: invert(1) hue-rotate(180deg);
    opacity: 0.6;
    z-index: 10;
    width: 30px;
    height: 30px;
    left: 9px;
}

