aside .sidebar-label {
    display: grid;
    grid-template-columns: 100%;
    /* align-items: center; */
    justify-content: start;
    width: 3em;
    height: 2em;
    padding: 0.5em 0.8em;
    font-size: 0.875em;
    cursor: pointer;
    border-radius: 1em;
    text-transform: capitalize;
    transition: 0.2s;
}


.email-grid.sidebar-open .sidebar-label {
    padding-inline: 1.8em 0.5em;
    width: 12em;
    grid-template-columns: 3em 3em 5em;
    border-radius: 0 1em 1em 0;
}

.sidebar-label span {
    justify-self: center;
}

.email-grid.sidebar-open .sidebar-label * {
    padding: 0;
    margin: 0;
}

.sidebar-label i {
    grid-column: 1;
}

.sidebar-label p {
    grid-column: 2;
    margin: 0;
}

.sidebar-label span {
    grid-column: 3;
    margin-inline-start: 1em;
}

aside .sidebar-label>* {
    margin-inline-end: 1em;
}


aside .sidebar-label.active {
    background-color: rgb(211, 227, 253);
}

aside .sidebar-label.active>* {
    font-weight: 600;
}

aside .sidebar-label:hover:not(.sidebar-label.active) {
    background-color: rgb(236, 236, 236);

}