.sidebar-menu .compose-btn {
  background-color: var(--compose-btn-blue);
  padding: 1em;
  width: 100%;
  border-radius: 16px;
  font-size: 14px;
  margin-block-end: 1em;
  cursor: pointer;
}

.sidebar-menu .compose-btn p {
  padding: 0;
  margin: 0;
}



.sidebar-menu.hovered .compose-btn i {
  margin-inline-end: 1em;
}

.sidebar-menu.hovered .compose-btn {
  width: 8em;
  margin-inline-start: 1em;
}

.email-grid>aside {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

aside .sidebar-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-inline: 1em;
  background-color: rgb(246, 248, 252);
  margin-block-start: 2em;
  transition: 0.2s;
}



.sidebar-menu.hovered {
  padding-inline: 0;
}