/* aside */

.email-grid>aside {
  grid-column: 1;
  grid-row: 2;
  margin: 0;
}

/* Sidebar Menu */

.email-grid aside {
  display: flex;
  justify-content: center;
  align-items: start;
}

aside .sidebar-menu {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  background-color: white;
  width: 100%;
  padding-inline: 1.8em;
  background-color: rgb(246, 248, 252);
  margin-block-start: 2em;
  transition: 0.2s;
}

div.email-grid.sidebar-open .sidebar-menu {
  align-items: start;
  padding-inline: 0;
  width: 100%;
}

/* Compose Button */


.sidebar-menu .compose-btn {
  background-color: var(--compose-btn-blue);
  padding: 1em;
  width: 3em;
  /* margin-inline: 0.5em; */
  border-radius: 16px;
  font-size: 14px;
  margin-block-end: 1em;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar-menu .compose-btn p {
  padding: 0;
  margin: 0;
}

div.email-grid.sidebar-open .compose-btn i {
  margin-inline-end: 1em;
}

div.email-grid.sidebar-open .compose-btn {
  width: 8em;
  margin-inline-start: 1em;
}