.note-grid.active .note-sidebar-menu li {
    width: 100%;
}

.note-grid.active .note-sidebar {
    width: 100%;
}

.note-grid.active aside {
    width: 100%;
}

.note-grid>aside {
    grid-column: 1;
}

.note-sidebar {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 2em;
    height: 100%;
    background-color: white;
    padding-top: 20px;
}

.note-sidebar-menu {
    justify-content: start;
    align-items: start;
    padding: 0 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note-sidebar-menu li {
    padding: 18px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, border-radius 0.3s, padding 0.3s;
    cursor: pointer;
}

.note-sidebar-menu li:last-child {
    border-bottom: none;
}

.note-sidebar-menu li:hover {
    background-color: #f1f3f4;
    border-radius: 25px;
}

.note-sidebar-menu li.active {
    background-color: #feefc3;
    border-radius: 25px;
}

.note-sidebar-menu li.active:hover {
    background-color: #feefc3;
    /* Ensure active items maintain their background on hover */
}

.note-sidebar-menu h4 {
    text-transform: capitalize;
    margin-left: 10px;
    /* Ensure label text has some space from icon */
}

.note-sidebar-menu li i {
    margin-left: 10px;
    /* Ensure icons are aligned properly */
}

.note-sidebar-menu li:not(.active):hover h4 {
    display: inline;
    /* Show the label text on hover if not active */
}

.note-sidebar-menu li.active h4 {
    display: inline;
    /* Ensure the label text is always shown for the active item */
}

.note-sidebar-menu li i {
    margin-left: 10px;
    /* Ensure icons have some space from the edge */
}