.note-container {
    display: flex;
    align-items: center;
    /* Align items horizontally */
    background-color: white;
    padding: 10px 20px;
    /* Reduced padding for flatter height */
    border-radius: 8px;
    box-shadow: none;
    /* Removed the box-shadow for a flatter design */
    width: 45vw;
    /* Set width to 35% of viewport width */
    margin: 20px auto;
    border: 1px solid #ddd;
    /* Added a border for a flatter look */
    box-sizing: border-box;
}

.note-form {
    display: flex;
    align-items: center;
    /* Align items horizontally */
    flex-grow: 1;
}

.note-input-label {
    margin-right: 10px;
    /* Spacing between label and input */
    font-size: 14px;
    color: #333;
    /* Darker color for better readability */
}

.note-input,
.note-input-color {
    padding: 10px;
    margin-right: 10px;
    /* Spacing between inputs */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.note-input:focus,
.note-input-color:focus {
    border-color: #4CAF50;
    /* Green border on focus for better accessibility */
}

.note-submit-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.note-submit-button:hover {
    background-color: #45a049;
    /* Darker green on hover */
}

.note-type-icons {
    display: flex;
    /* Changed flex direction to row */
    margin-left: 20px;
    /* Move icons to the right */
}

.note-type-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    /* Added margin-right to separate icons */
    color: #888;
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

.note-type-icon:last-child {
    margin-right: 0;
    /* Remove margin-right for the last icon */
}

.note-type-icon:hover {
    color: #000;
}

.note-inputs-container {
    display: flex;
}