.note-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: none;
    width: 65vw;
    margin: 20px auto;
    border: 1px solid #ddd;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.note-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}



.note-input-label {
    margin-right: 10px;
    font-size: 0.875em;
    color: #333;
    width: 35vw;
}

.note-input,
.note-input-color {
    padding: 10px;
    margin-right: 10px;
    /* Spacing between inputs */
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.note-input:focus,
.note-input-color:focus {
    border-color: #4CAF50;
    /* Green border on focus for better accessibility */
}

.note-submit-button {
    padding: 10px 20px;
    background-color: #ffbf00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* Smooth transition for hover effect */
}

.note-submit-button:hover {
    background-color: #ffae00;
    /* Darker green on hover */
}

.note-type-icons {
    display: flex;
    /* Changed flex direction to row */
    margin-left: 20px;
    /* Move icons to the right */
}

.note-type-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
    /* Added margin-right to separate icons */
    color: #888;
    transition: color 0.3s ease;
    /* Smooth transition for hover effect */
}

.note-type-icon:last-child {
    margin-right: 0;
    /* Remove margin-right for the last icon */
}

.note-type-icon:hover {
    color: #000;
}

/* .note-inputs-container { */
/* display: flex; */
/* } */