 /* note list */
 .note-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     /* Adjust as needed */
 }

 .note-card {
     flex: 1 1 auto;
     /* Allow cards to grow and shrink as needed */
     margin: 10px;
     padding: 15px;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     background-color: #fff;
     transition: box-shadow 0.2s ease-in-out;
     width: 250px;
     margin: 10px;
     padding: 15px;
     border-radius: 8px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     background-color: #fff;
     transition: box-shadow 0.2s ease-in-out;
 }

 /* Note Card Hover Effect */
 .note-card:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 li {
     list-style: none;
 }

 .note-preview-todo li {
     list-style: circle;
 }

 .note-done {
     text-decoration: line-through;
 }