.header-icon {
    width: 5em;
    height: 6em;
}

.sidebar-menu-btn {
    width: 5em;
    height: 6em;
}

.header {
    position: relative;
    padding: 20px;
    background-color: white;
    /* z-index: -1; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: gray;
    position: absolute;
    bottom: 0;
    left: 0;
}

.note-sidebar {
    width: 20vw;
    height: 100%;
    background-color: #f0f0f0;
    padding-top: 20px;
}

.note-sidebar-header {
    padding: 10px;
    text-align: center;
}

.note-sidebar-header h2 {
    margin: 0;
    color: #333;
}

.note-sidebar-menu {
    padding: 0 10px;
}

.note-sidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note-sidebar-menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, border-radius 0.3s;
    /* Added transition for smooth effect */
}

.note-sidebar-menu ul li:last-child {
    border-bottom: none;
}

.note-sidebar-menu ul li a {
    text-decoration: none;
    color: #555;
    margin-left: 10px;
}

.note-sidebar-menu ul li a:hover {
    color: #000;
}

.note-sidebar-menu ul li:hover {
    background-color: #ffe45e;
    border-radius: 20px;
    /* Increased border-radius for button-like appearance */
}