.note-grid.active .note-sidebar-menu li {
    width: 100%;
}

.note-sidebar {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 2em;
    height: 100%;
    background-color: white;
    padding-top: 20px;
}

.note-sidebar-header {
    padding: 10px;
    text-align: center;
}

.note-sidebar-header h2 {
    margin: 0;
    color: #333;
}

.note-sidebar-menu {
    justify-content: start;
    align-items: start;
    padding: 0 10px;
}

.note-sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note-sidebar-menu li:last-child {
    border-bottom: none;
}

.note-sidebar-menu li a {
    text-decoration: none;
    color: #555;
    margin-left: 10px;
}

.note-sidebar-menu li a:hover {
    color: #000;
}

.note-sidebar-menu li:hover {
    background-color: #f1f3f4;
    border-radius: 25px;
    /* Increased border-radius for button-like appearance */
}

.note-sidebar-menu li.active {
    background-color: #feefc3;
    /* Active background color */
    border-radius: 25px;
    /* Active border-radius */
}

.note-sidebar-menu h4 {
    text-transform: capitalize;
}