 /* note list */
 .note-list {
     display: flex;
     flex-direction: column;
     /* Stack children vertically */
     align-items: flex-start;
 }

 .note-list-item {
     position: relative;
     padding: 15px;
     border-radius: 10px;
     padding-block-end: 40px;
     margin-block-end: 10px;
     cursor: auto;
     break-inside: avoid;
     word-wrap: break-word;
     /* Ensures long words break onto a new line */
     overflow-wrap: break-word;
     /* Ensures long words break onto a new line */
 }

 .note-card img {
     max-height: 140px;
 }

 /* Note Card Hover Effect */
 .note-card:hover {
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 li {
     list-style: none;
 }

 .note-preview-todo li {
     list-style: circle;
 }

 .note-done {
     text-decoration: line-through;
 }

 .note-card {
     position: relative;
     padding: 10px;
     margin: 10px;
     border-radius: 5px;
 }

 .color-palette {
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
     position: absolute;
     top: 50px;
     left: 10px;
     background: white;
     padding: 10px;
     border: 1px solid #ddd;
     border-radius: 5px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }

 .color-option {
     width: 20px;
     height: 20px;
     cursor: pointer;
     border: 1px solid #ddd;
     border-radius: 50%;
 }

 .pinned-notes-section {
     column-count: 4;
     column-width: 250px;
     column-gap: 10px;
     margin-block-end: 10px;
     width: 92%;
     padding-block-end: 50px;
     overflow-y: auto;
     margin-left: 6em;
 }

 /* Unpinned Notes Section */
 .unpinned-notes-section {
     column-count: 4;
     column-width: 250px;
     column-gap: 10px;
     margin-block-end: 10px;
     width: 92%;
     padding-block-end: 50px;
     overflow-y: auto;
     margin-left: 6em;
 }

 /* Responsive styles */
 @media (max-width: 1200px) {
     .note-list {
         column-count: 3;
         column-width: auto;
         margin-left: 2em;
     }
 }

 @media (max-width: 768px) {
     .note-list {
         column-count: 2;
         width: 100%;
         margin-left: 1em;
     }

     .note-list-item {
         padding: 10px;
         font-size: 0.9em;
     }

     .note-card img {
         max-height: 100px;
     }

     .note-card {
         padding: 8px;
         margin: 8px;
     }
 }

 @media (max-width: 480px) {
     .note-list {
         column-count: 2;
         width: 80%;
         margin-left: 1em;
     }

     .note-list-item {
         padding: 8px;
         font-size: 0.8em;
     }

     .note-card img {
         max-height: 80px;
     }

     .note-video .video {
         width: 100px;
         height: 60px;
     }

     .note-card {
         padding: 6px;
         margin: 6px;
     }
 }