body {
  overflow: hidden;
}

div.email-grid {
  height: 100vh;
  background-color: var(--main-bg-color-email);
  display: grid;
  align-content: start;
  /* overflow-y: hidden; */
  grid-template-columns: 6.5em 5fr 2em;
}

div.email-grid.sidebar-open {
  grid-template-columns: 11em 5fr 2em;
}

.email-grid>main {
  background-color: white;
  grid-column: 2 / 3;
  align-content: start;
  height: max-content;
}


.sidebar-mail-btn {
  fill: darkgray;
  cursor: pointer;
  transition: 0.2s;
  margin-inline: 1em;
}

.sidebar-mail-btn:hover {
  margin-inline: 0;
  padding: 1em;
  border-radius: 50%;
  background-color: lightgray;
}