div.email-grid {
  background-color: var(--main-bg-color-email);
  display: grid;
  align-content: start;
  grid-template-columns: 4.5em 5fr 2em;
}

div.email-grid.sidebar-open {
  grid-template-columns: 10em 5fr 2em;
}

.email-grid>main {
  background-color: white;
  grid-column: 2 / 3;
  align-content: start;
  height: max-content;
}

.email-header {
  margin: 1em 4em 1em 2.5em;
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 5fr 2em;
}

.email-logo {
  width: 2em;
  height: auto;

}

.email-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-column: 1;
}

.sidebar-mail-btn {
  fill: darkgray;
  cursor: pointer;
  transition: 0.2s;
  margin-inline: 1em;
}

.sidebar-mail-btn:hover {
  margin-inline: 0;
  padding: 1em;
  border-radius: 50%;
  background-color: lightgray;
}