/* Setup */
@import './setup/variables.css';

/* @import './setup/fonts.css'; */

/* Basics */

@import './basics/base.css';
@import './basics/helpers.css';
/* @import './basics/layout.css'; */

/* Views */
@import './views/home.css';
@import './views/about.css';

/* @import './apps/note/views/NoteIndex.css'; */

@import './apps/mail/views/MailIndex.css';

/* notes app view css */
@import './apps/note/views/NoteIndex.css';
@import './apps/note/views/NoteEdit.css';

/* Cmps */

@import './cmps/UserMsg.css';
@import './cmps/AppHeader.css';

@import './apps/mail/cmps/MailList.css';
@import './apps/mail/cmps/MailListActions.css';
@import './apps/mail/cmps/MailFilter.css';
@import './apps/mail/cmps/MailPreview.css';
@import './apps/mail/cmps/SidebarMenu.css';
@import './apps/mail/cmps/SidebarLabel.css';
@import './apps/mail/cmps/MailDetailsMain.css';
@import './apps/mail/cmps/MailDetailsHeader.css';
@import './apps/mail/cmps/MailAppHeader.css';
@import './apps/mail/cmps/ComposeMail.css';

/* note app cmps  */
@import './apps/note/cmps/NoteList.css';
@import './apps/note/cmps/NoteFilter.css';
@import './apps/note/cmps/NoteSidebar.css';
@import './apps/note/cmps/NoteSidebarLabel.css';
@import './apps/note/cmps/NoteAdd.css';
@import './apps/note/cmps/NoteHeader.css';