header {
    position: fixed;
    right: 0;
    border-bottom: 2px solid white;
    z-index: 1000;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

header div.nav-container {
    position: relative;
    margin-inline-end: 3em;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    margin-top: 1em;
    right: 0;
    border-radius: 1em;
    height: 150px;
    width: 300px;
    border: 5px rgb(236, 242, 255) solid;
    padding: 1em;
    background-color: white;
}

header h1 {
    margin-inline-start: 2em;
}

header nav a {
    margin: .5em;
    color: rgb(63, 82, 107);
    font-weight: 200;
}

.head-icon {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: rgb(63, 82, 107);
    cursor: pointer;

}

.icon-container {
    cursor: pointer;
}

.icon-container:hover .head-icon {
    animation: bounce;
    animation-duration: 0.7s;
}

nav a.active {
    /* scale: 1.1; */
    font-weight: 600;
}

.sidebar-toggle-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-end: 1em;
    border-radius: 50%;
}

.menu-toggle-btn {
    z-index: 100;
}

.sidebar-toggle-btn:hover {
    opacity: 0.5;
}